{% extends "index.html" %}

{% block title %} Contact {% endblock %}

{% block contclass %} content {% endblock %}

{% block content %}

<h1>Contact Us</h1>
<p>
We’d love to hear from you! Whether you have a question, want to make a reservation, or just want to share your experience, feel free to reach out to us.<br>
Restaurant Information:
    
<br>
<p>
J-Wendy's Kitchen<br>
123 Main Street<br>
City, State, ZIP Code<br>
Phone: (123) 456-7890<br>
Email: info@jwendyskitchen.com<br>
Hours of Operation<br>
    
    &emsp;Monday to Thursday: 11:00 AM – 9:00 PM<br>
    &emsp;Friday: 11:00 AM – 10:00 PM<br>
    &emsp;Saturday: 9:00 AM – 10:00 PM<br>
    &emsp;Sunday: 9:00 AM – 9:00 PM<br>
</p>
    
<h2>Make a Reservation</h2>
<p>
To make a reservation, please call us at (123) 456-7890 or use our online reservation system here. We recommend booking in advance, especially for weekends and special events.
</p>
<h2>Feedback</h2>
<p>
Your feedback is important to us! If you have any comments or suggestions, please fill out our feedback form [link to form] or send us an email at feedback@jwendyskitchen.com.
Follow Us<br>
    
Stay updated on our latest offerings, events, and promotions by following us on social media:<br>
    
&emsp;Facebook: facebook.com/jwendyskitchen<br>
&emsp;Instagram: instagram.com/jwendyskitchen<br>
&emsp;Twitter: twitter.com/jwendyskitchen<br>
    
We look forward to hearing from you and hope to see you soon at J-Wendy's Kitchen!
</p>
{% endblock %}