{% extends "index.html" %}

{% block title %} About {% endblock %}

{% block contclass %} content {% endblock %}

{%   block content   %}  

<h1 class="header">About Us</h1>
  
Welcome to J-Wendy's Kitchen, where culinary passion meets a warm, inviting atmosphere. 
Established in 1999, our restaurant is dedicated to providing an exceptional dining experience that celebrates the rich flavors of seasonal ingredients. At J-Wendy's Kitchen, we believe that food is not just about nourishment; it is about bringing people together. 
Our team of talented chefs crafts a diverse menu that showcases both classic dishes and innovative creations, all made with locally sourced ingredients. 
Whether you're here for a casual lunch, a romantic dinner, or a special celebration, you will find something to delight your palate. We take pride in our commitment to sustainability and community. By partnering with local farmers and producers, we ensure that our dishes are fresh and flavorful while supporting our local economy. 
Join us for an unforgettable meal and experience the heart of our kitchen, where every dish tells a story. We look forward to welcoming you to Riverstone Bistro!


{% endblock %}